body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    min-height: 100vh;
}

